.App {
  text-align: center;
  margin-top: 8rem;
}
img {
  margin: 1rem;
  margin-right: 1rem;
  border-radius: 1rem;
}
p {
  margin-right: 3rem;
  margin: 1rem;
  line-height: 2rem;
  font-size: medium;
  text-align: left;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}
.two {
  text-align: right;
}
.grid-container1 {
  margin-top: 6rem;
}
.navigation {
  position: fixed;
  top: 0;
  text-align: left;
  left: 0;
  width: 100%;
  height: 3rem;
  padding: 1rem;
  background-color: aqua;
}
a {
  font-size: 1.5em;
  margin-left: 2rem;
  text-decoration: none;
}
h2 {
  letter-spacing: 1.5rem;
  margin: 3.5rem;
  font-size: 2rem;
}
h3 {
  margin: 3.5rem;
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
}
.footer {
  height: 15rem;
  display: grid;
  margin-top: 7rem;
  position: relative;
  align-content: center;
  background-color: aqua;
}
.footer p {
  text-align: center;
  background-color: turquoise;
}
